body {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.navbar-fixed {
  margin-bottom: 15px;
}

.poster {
  height: 380px;
  max-width: 100%;
}

.joke{
  margin-bottom: 15px;
}

.container img{
  padding: 0;
  width: 360px;
  margin: auto;
  text-align: center;
}

nav{
  background-color: #991600 !important; /* reddish */
}

footer{
  background-color: #991600 !important; /* blue */
}

.footer-copyright{
  background-color: #ffb547 !important;
}
